* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination--link:link,
.pagination--link:visited {
  text-decoration: none;
  font-size: 18px;
  color: #343a40;

  width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.dots {
  color: #868e96;
}

.btn {
  width: 48px;
  height: 48px;

  border: 1px solid #087f5b;
  background-color: transparent;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.pagination--link:hover,
.pagination--link:active,
.pagination--link.active {
  background-color: #087f5b;
  color: #fff;
}
.btn:hover,
.btn:hover .btn-icon,
.btn:active {
  background-color: #087f5b;
  stroke: #fff;
}
